# Configuration file

general {
    # Change the spawns alloted in the Bastion Remnants, lower means more mobs, higher means less
    # Min: 1
    # Max: 10
    I:"Bastion Remnants Mob Spawns"=5

    # Change the spacing between Bastion Remnants, lower means more frequent, higher means less
    I:"Bastion Remnants Spawn Frequency"=90

    # Change the Frequency of how common the Crimson Forest is
    I:"Crimson Forest Biome Frequency"=70

    # Change how long it takes for a Piglin or Hoglin to Zombify when entering the overworld
    I:"Hoglin/Piglin Zombie Conversion Time"=15

    # Change the Frequency of how common the Soul Sand Valley is
    I:"Soul Sand Valley Biome Frequency"=70

    # Change the Frequency of how common the Warped Forest is
    I:"Warped Forest Biome Frequency"=70
}


